html,body{
  color: #333;
  font-family:'malgun gothic','myriad-pro','Noto Sans KR','NotoR','NBGW','nanum-square_R','NanumGothic', 'Dotum', 'Gulim', 'sans-serif';
}
p,ul,ol,li,dl,dt,dd,form {list-style-image:none;list-style-position:outside;list-style-type:none;border:0px;}
a{}
.clearfix{*zoom:1;}/*ie6 float 속성 오류 처리*/
.clearfix:after{display:block;clear:both;content:'';}/*float 속성 오류 처리*/

table{
  width:100%;
}
tr,td{
  text-overflow: ellipsis;
  overflow: hidden;
}
.overhidden{  /*텍스트 초과시 점선으로 처리*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
section{position: relative;}

.btn_top{
    position: absolute;
    bottom: 25px;
    left: -26px;
    margin-left: 50%;
    text-align: center;
}

$contents_width: 1280px;

@mixin btn_ReadMore {
  font-size: 14px;
  font-weight: 600;
  margin-left: -10px;
  font-family: 'myriad-pro';
  &:before{
    width: 12px;
    height:11px;
    margin-right: 10px;
    vertical-align: -1px;
    display: inline-block;
    content: url("../images/icon_arrow.png");
    // background: url("../images/icon_arrow.png") no-repeat;
  }
  &:hover{
    &:before{
      content: url("../images/icon_arrow_over.png");
    }
  }
}
@mixin transition{
  -webkit-transition: all 0.2s linear 0s !important;
  -moz-transition: all 0.2s linear 0s !important;
  -ms-transition: all 0.2s linear 0s !important;
  -o-transition: all 0.2s linear 0s !important;
  transition: all 0.2s linear 0s !important;
}


.wrap,.header{
  min-width: 1280px;
}

.header{
  &_wrap{
    width:100%;
    background:rgba(0,0,0,0.7);
    border-bottom: solid 1px #376B5c;
    position: relative;
    z-index: 1;
  }
  margin: 0 auto;
  overflow: hidden;
  padding: 33px 30px 0;
  min-width: 1220px;
  width: 1220px;

  li{
    float: left;
    background: rgba(255,255,255,0.12);
    color: #888888;
    // font-family: 'myriad-pro';
    font-size: 18.5px;
    width: 190px;
    height: 62px;
    line-height: 62px;
    margin-right: 10px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    a{
      img{
        vertical-align: -4px;
      }
    }
    &:hover{
      background: #376B5c;
      color: #fff;
    }
    &:first-child,
    &:last-child{
      width: auto;
      background: none;
    }
    &:first-child{
      margin-right: 50px;
    }
    &:last-child{
      float: right;
      line-height: normal;
      padding: 0px 0 0px 0;
      height: auto;
      margin: 11px 0 20px 0;
      a{
        margin-left: 30px;
        img{
          vertical-align: -6px;
        }
      }
    }
    &:nth-child(4){/*메뉴03 developers*/
      a{
        background: url("../images/top_menu03.png") no-repeat center;
        width: 100%;
        display: inline-block;
        &:hover{
          background: url("../images/top_menu03_over.png") no-repeat center;
        }
      }
    }
  }
}
.nav_wrap{
  position: fixed;
  top: 40%;
  right:50px;
  z-index: 100;
  line-height: 1.5;
  text-align: center;
  .nav-menu{
    width: 15px;
    li{
      a{
        padding: 3px;
        border: solid 1px #d0d0d0;
        border-radius: 50%;
        background: #d0d0d0;
        font-size: 0;
        @include transition;
        &.active{
          padding: 5px;
          background: none;
          border: solid 2px #d0d0d0;
        }
        &:hover{
          padding: 5px;
        }
      }
    }
  }
}

.contents_title{
  text-align: center;
  font-size: 21.33px;
  font-weight: 400;
  padding: 65px 0 45px;
  span{
    font-size: 34.67px;
    font-weight: 800;
    font-family: "nanum-square_EB";
    line-height: 2.8;
  }
  img{
    margin-top: 40px;
  }
}
.content08>.contents_title{margin-bottom:40px;}

.content01{
  height: 950px;
  margin-top: -100px;
  background: url("../images/banner_mask.png") no-repeat bottom;
  position: relative;
  overflow: hidden;
  video {
    position : absolute;
    top : 0;
    left : 0;
    min-width : 1920px;
    min-height : 100%;
    width : 100%;
    height : auto;
    z-index : -1;
  }
  .banner_wrap{
    width: $contents_width;
    margin: 0 auto;
    overflow: hidden;
    h1{
      color: #fff;
      vertical-align: middle;
      font-size: 55.33px;
      font-weight: 400;
      padding-top: 325px;
      line-height: 1.3;
      width: $contents_width;
      margin: 0 auto;
      text-shadow: 0px 0px 5px rgba(0,0,0,0.3);
      span{
        color: rgba(255,255,255,0.35);
        font-family: 'nanum-square_R';
        font-size: 30.68px;
        font-style: italic;
        margin-top: 60px;
        display: inline-block;
      }
    }
  }
}
.content02{
  height: 830px;
  background: #fff;
  h2{
    text-align: center;
    font-size: 29.33px;
    font-weight: 400;
    font-family: "NanumGothic";
    padding: 105px 0 30px;
    letter-spacing: -0.75px;
    span{
      font-size: 30.56px;
      font-weight: 800;
      font-family: "NanumGothic";
      line-height: 2.8;
    }
  }

  .iconRotate{
    position: relative;
    float: left;
    text-align: center;
    margin-right: 120px;
    &:last-child{
      margin-right: 0;
    }
    &:nth-child(3){
      .icon_wrap{
        left:95px;
      }
    }
    .icon_wrap_cube{
      width: 140px;
      height: 140px;
      margin: 30px auto 60px;
      border:solid 1px #e5e5e5;
      border-radius: 5px;
      @include transition;
    }
    .icon_wrap{
      position: absolute;
      left: 87px;
      top: 70px;
      img{
        vertical-align: middle;
      }
    }
    .sub_title{
      font-weight: 600;
      font-size: 21.33px;
      @include transition;
      font-family: 'myriad-pro';
      letter-spacing: 1.45px;
      &:after{
        // content: "-----------";
        content: "_____";
        display: block;
        letter-spacing: -1.5px;
        font-weight: 100;
        margin: 5px 0 30px;
        color: #333;
        text-align: center;
      }
    }
    p{
      line-height: 1.5;
      margin-bottom: 45px;
      letter-spacing:-1px;
    }
    @at-root.btn_ReadMore{
      @include btn_ReadMore;
    }
    &:hover{
      .icon_wrap_cube{
        transform: rotate(45deg);
        border-color:#e94e64;
        -webkit-transform: rotate(45deg);
      }
      .sub_title{
        color:#e94e64;
      }
    }
  }

  .innovation_contents{
    width: $contents_width;
    margin: 0 auto;
    overflow: hidden;
    color:#333;
    li{
      position: relative;
      float: left;
      text-align: center;
      margin-right: 120px;
      &:last-child{
        margin-right: 0;
      }
      &:nth-child(3){
        .icon_wrap{
          left:95px;
        }
      }
      .icon_wrap_cube{
        width: 140px;
        height: 140px;
        margin: 30px auto 60px;
        border:solid 1px #e5e5e5;
        border-radius: 5px;
        @include transition;
      }
      .icon_wrap{
        position: absolute;
        left: 87px;
        top: 70px;
        img{
          vertical-align: middle;
        }
      }
      .sub_title{
        font-weight: 600;
        font-size: 21.33px;
        @include transition;
        font-family: 'myriad-pro';
        letter-spacing: 1.45px;
        &:after{
          // content: "-----------";
          content: "_____";
          display: block;
          letter-spacing: -1.5px;
          font-weight: 100;
          margin: 5px 0 30px;
          color: #333;
          text-align: center;
        }
      }
      p{
        line-height: 1.5;
        margin-bottom: 45px;
        letter-spacing:-1px;
      }
      @at-root.btn_ReadMore{
        @include btn_ReadMore;
      }
      &:hover{
        .icon_wrap_cube{
          transform: rotate(45deg);
          border-color:#e94e64;
          -webkit-transform: rotate(45deg);
        }
        .sub_title{
          color:#e94e64;
        }
      }
    }
  }
}
.content02,.content03,.content05,.content07,.content09,.content10{
  height: 820px;
}
.content03,.content05,.content07,.content09{
  background: #f4f5fa;
}
.wpb_column{
  width: $contents_width;
  margin: 0 auto;
  overflow: hidden;
}
.wpb_wrapper{
  float: left;
  margin: 15px 40px 25px;
  width: 240px;
}


.position_relative {
    position: relative;
    overflow: hidden;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}


.project_contents{
  &_wrap{
    width: $contents_width;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
  }
  margin-right: 22px;
  position: relative;
  display: inline-block;
  &:last-child{
    margin-right: 0;
  }
  .date_top {
    position: absolute;
    top: 30px;
    right: -4px;
    color: #fff;
    /* padding: 6px; */
    background: #ff9966;
    min-width: 100px;
    height: 36px;
    line-height: 34px;
    text-align: center;
    z-index: 1;
    box-sizing: border-box;
    span{
      font-family: "NanumGothic";
      font-size: 14.67px;
      vertical-align: top;
      letter-spacing: 0.25px;
    }
  }
}

.img-scale{
  max-width: 392px;
  width: 100%;
  margin: 0 auto;
 figure {
    overflow: hidden;
  }
}

.picher_doc {
  .opacity-medium {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.25;
    background-color: #222;
    top: 0;
    left: 0;
    @include transition;
  }
  .inner_text {
    position: absolute;
    top: auto;
    left: 5%;
    z-index: 9;
    bottom: 0px;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition: transform .35s ease-out;
    -webkit-transition: transform .35s ease-out;
    -moz-transition: transform .35s ease-out;
    -ms-transition: transform .35s ease-out;
    -o-transition: transform .35s ease-out;
    padding: 0 0 15px;
    width: 90%;
    height: auto;
    text-align: center;
    opacity: 1;
    cursor: default;
    font-family: "NanumGothic";
    font-weight: 400;
    font-size: 16px;
    .show_tital {
        display: inline-block;
        color: #fff;
        font-weight: 500;
        font-size: 21.33px;
        font-family: "NanumGothic";
    }
    .display_block {
        display: block;
        width: 100%;
        border-top: 1px solid #cfcfcf;
        color: #fff;
        padding: 25px 0px 0px;
        margin-top: 25px;
        line-height: 1.8;
        @include transition;
    }
    .btn {
        opacity: 0;
        color: #fff;
        width: 180px;
        height: 40px;
        font-weight: 100;
        border: solid 1px #fff;
        border-radius: 50px;
        @include transition;
    }
  }
  &:hover{
    .opacity-medium {
      opacity: 0.75;
    }
    .inner_text {
      transform: translateY(-90px);
      -webkit-transform: translateY(-90px);
      -moz-transform: translateY(-90px);
      -ms-transform: translateY(-90px);
      -o-transform: translateY(-90px);
      .display_block {
        border: 0;
        margin-top: 0;
        padding-bottom: 45px;
      }
      .btn {
        opacity: 1;
        height: 50px;
        &:hover{
          background: #fff;
          border: #fff;
          color: #000;
        }
      }
    }
  }
}


.content04{
  height:814px;
  background: url("../images/investment_BG.png") no-repeat center;
  .investment{
    width: $contents_width;
    height: 100%;
    margin: 0 auto;
    padding-right: 50px;
    box-sizing: border-box;
    h1{
      vertical-align: middle;
      font-size: 61.33px;
      font-weight: 600;
      padding-top: 180px;
      line-height: 1.3;
      margin: 0 auto;
      text-align: right;
      font-family: 'nanum-square_R';
      p{
        line-height: 1.8;
        font-size: 24px;
        font-weight: 400;
        margin-top: 35px;
        letter-spacing: -1.8px;
      }
    }
    .investment_btn{
      overflow: hidden;
      margin-top: 150px;
      li{
        width: 205px;
        height:55px;
        line-height:54px;
        box-sizing:border-box;
        text-align: center;
        float: right;
        border: solid 1px #ff945e;
        border-right: 0;
        color:#ff945e;
        letter-spacing: -1px;
        @include transition;
        &:first-child{
          border-right: solid 1px #ff945e;
        }
        &:hover{
          background: #ff945e;
          color:#fff;
        }
      }
    }
  }
}





.q_icon_shade.circle,
.q_icon_shade.square {
  margin: 0 0 29px 0;
  line-height:65px;
  width:72px;
  box-sizing: border-box;
  height:72px;

  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 25;

  border-radius: 5em;

  background-color: transparent;
  text-align: center;
  -webkit-transition: -webkit-transform .2s ease-out,background-color .2s ease-out,border-color .2s ease-out,color .2s ease-out,text-shadow .2s ease-out;
  -ms-transition: -ms-transform .2s ease-out,background-color .2s ease-out,border-color .2s ease-out,color .2s ease-out,text-shadow .2s ease-out;
  transition: transform .2s ease-out,background-color .2s ease-out,border-color .2s ease-out,color .2s ease-out,text-shadow .2s ease-out;
  -webkit-transform: translateZ(0px);

}

.q_icon_shortcode span,
.q_icon_shortcode img {
    color: #e21a37;
    -webkit-transition: -webkit-transform .2s ease,color .15s ease-out;
    -ms-transition: -ms-transform .2s ease,color .15s ease-out;
    transition: transform .2s ease,color .15s ease-out;
    font-style: normal!important;
    letter-spacing: initial!important;
    display: inline-block;
    vertical-align: middle;
}
.q_icon_shortcode.q_icon_shade.circle,
.q_icon_shortcode.q_icon_shade.square {
    background-color: #e21a37;
    border-style: solid;
    border-color: #e21a37;
    border-width: 1px!important;
}
.q_icon_shortcode.circle:hover,
.q_icon_shortcode.square:hover,
.q_icon_shade:not(.with_background_image).circle:hover,
.q_icon_shade:not(.with_background_image).square:hover {
    background-color: #16171d!important;
    border-style: solid;
    border-color: #16171d!important;
    border-width: 1px!important;
}
.q_icon_shade.animation_border_out {
  .animation_overlay {
      top: -5px;
      left: -5px;
      padding: 5px;
      box-shadow: 0 0 0 1.8px #16171d;
      -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
      transform: scale(0.6);
      -webkit-transition: -webkit-transform 0.3s ease-out,opacity .1s ease-out;
      transition: transform 0.3s ease-out,opacity .1s ease-out;
      opacity: 0;
      position: absolute;
      border-radius: 50%;
      color: #fff;
      width: 100%;
      height: 100%;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
  }
  &:hover{
    .animation_overlay {
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 1;
    }
  }
}

.Technology_contents_text{
  h5{
    font-size: 17.33px;
    font-weight: 400;
    font-family: "NanumGothic";
    color:#000;
  }
  p{
    margin-top: 15px;
    line-height: 1.6;
    font-size: 14.67px;
    color: #888888;
    letter-spacing: -0.8px;
  }
}

.content06{
  height:818px;
  background: url("../images/Education_BG.png") no-repeat center;
}

.Education_contents{
  &_wrap{
    width: $contents_width;
    margin: 0 auto;
    text-align: center;
  }
  display: inline-block;
  height:auto;
  width: 390px;
  margin: 0 10px;
  background: #fff;
  box-shadow:0;
  @include transition;
  .day_info{
    width: 275px;
    height: 40px;
    margin: 0 auto;
    background: #fff;
    position: absolute;
    left: 57px;
    top: 173px;
    box-sizing: border-box;
    padding-top: 17px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: #888;
    font-size: 15px;
    font-family: 'NanumGothic';
    letter-spacing: -0.7px;
    span{
      color: #d3d3d3;
      margin: 0 15px;
    }
  }
  .Education_inner_text{
    text-align: center;
    padding: 30px 0;
    border: solid 1px #e0e0e0;
    border-top: 0;
    margin-top: -6px;
    font-family: 'NanumGothic';
    h3{
      font-size:18.67px;
      font-weight: 400;
      margin-bottom: 25px;
      &.event_day{
        color: #888888;
        font-size: 14.67px;
        padding: 0 40px 10px;
        margin-bottom: 0px;
        line-height: 1.7;
        border-bottom: 0;
        letter-spacing: -0.5px;
        text-align: left;
      }
    }
    p{
      color: #888888;
      font-size: 14.67px;
      padding: 0 0px 25px;
      width: 95%;
      margin: 0 auto 20px;
      line-height: 1.7;
      border-bottom: solid 1px #e7e8eb;
      letter-spacing: -0.5px;
      &.event_title{
        color:#000;
        font-size:18.67px;
        font-weight: 400;
        margin-bottom: 20px;
        text-align: left;
        padding: 0 0px 25px;
        width: calc(95% - 60px);
      }
    }
    button{
      font-size: 14px;
      font-weight: 600;
    }
  }
  &:hover{
    box-shadow: 7px 7px 0px rgba(0,0,0,0.09);
    transform: translate(-7px,-7px);
  }
}

.house_contents{
  &_wrap{
    text-align: center;
    margin-bottom: 25px;
    &:last-child{margin-bottom: 0;}
    &:nth-child(3){
      .house_contents{
        &:nth-child(1){background: url(../images/House_Thumb04.png) no-repeat;}
        &:nth-child(2){background: url(../images/House_Thumb05.png) no-repeat;}
        &:nth-child(3){background: url(../images/House_Thumb06.png) no-repeat;}
      }
    }
  }
  display: inline-block;
  margin: 0 12.5px;
  width: 391px;
  height:213px;
  overflow: hidden;
  position:relative;
  background: url(../images/House_Thumb01.png) no-repeat;
  &:nth-child(1){background: url(../images/House_Thumb01.png) no-repeat;}
  &:nth-child(2){background: url(../images/House_Thumb02.png) no-repeat;}
  &:nth-child(3){background: url(../images/House_Thumb03.png) no-repeat;}
  .bg-extra-black_title{
    position: relative;
    height: 100%;
    width: 100%;
    // opacity: 0.25;
    background: rgba(0,0,0,0.25);
    top: 0;
    left: 0;
    transform: translateY(142px);
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    @at-root.house_title:hover+.bg-extra-black_title,
    &:hover{
      transform: translateY(0px);
      button{
        opacity: 1;
        &:hover{
          color: #333;
          background: #fff;
        }
      }
    }
    button{
      opacity: 0;
      position: absolute;
      top: 35%;
      left: 27%;
      color: #fff;
      width: 180px;
      height: 53px;
      border: solid 1px #fff;
      border-radius: 50px;
      @include transition;
      transition-delay: 0.1s;
    }
  }
  .house_title{
    font-size:20px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 26px;
    width: 100%;
    text-align: center;
  }
}
.content08{
  height:820px;
  background: url("../images/Network_BG.png") no-repeat center;
}
.Network_contents{
  &_wrap{
    text-align: center;
  }
  display: inline-block;
  width: 260px;
  margin: 0 20px;
  text-align: center;
  font-family: 'NanumGothic';
  img{
    position: relative;
    z-index: 1;
  }
  .Network_contents_info{
    height: 314px;
    background: rgba(255,255,255,0);
    margin-top: -85px;
    padding-top: 100px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow:0;
    @include transition;
    .title_wrap{
      margin-top: 20px;
      @include transition;
      h3{
        font-size: 21.33px;
        font-weight: 400;
        margin-bottom: 20px;
      }
      .logo_wrap{
        font-size: 14px;
        color:#666;
        font-family:'nanum-square_R';
        img{
          vertical-align: -5px;
          margin-right: 7px;
        }
      }
    }
    p,button{
      opacity:0;
      @include transition;
    }
    p{
      color: #888888;
      line-height: 1.5;
      margin: 7px 0 30px;
    }
  }
  &:hover{
    .Network_contents_info{
      background: rgba(255,255,255,1);
      box-shadow: 7px 7px 0px rgba(0,0,0,0.09);
      transform: translate(0,-2px);
      .title_wrap{
        transform: translateY(-15px);
      }
      p,button{
        opacity:1;
      }
    }
  }
}



.site_map{
  font-family: 'NanumGothic';
  overflow:hidden;
  margin-bottom: 40px;
  &:last-child{
    margin-bottom: 0;
  }
  &_wrap{
    width: $contents_width;
    margin: 50px auto;
  }
  h2{
    color: #e21a37;
    font-size: 19px;
    margin-bottom: 20px;
    hr{
      width: 86%;
      display: inline-block;
      float: right;
      border: solid 1px rgba(0,0,0,0.12);
      border-bottom:0;
    }
  }
  ul{
    float: left;
    margin-right: 128.5px;
        width: 153px;
    &:last-child{
      margin-right: 0;
    }
    li{
      &:first-child{
        font-weight: 800;
        font-size: 18px;
        line-height: normal;
        margin-bottom: 9px;
        color: #000;
      }
      line-height: 1.6;
      font-size: 15px;
      color: #666666;
      a:hover{
        border-bottom: solid 1px #666;
      }
    }
  }
}

.footer{
  &_wrap{
    background: #f4f5fa;
  }
  width: $contents_width;
  margin: 0 auto;
  height:228px;
  color:#666666;
  font-size: 13.33px;
  font-family: 'NanumGothic';
  padding-top: 71px;
  line-height: 2;
  box-sizing: border-box;
  ul{
    overflow: hidden;
    li{
      float: left;
      &:first-child{
        // font-size: 14.67px;
      }
      span{
        margin: 0 10px;
        color: #d4d4d4;
      }
    }
  }
  .foot_info{
    span{
      line-height: 4;
      font-weight: 600;
    }
    .select_wrap{
      border: solid 1px #d1d1d1;
      width: 152px;
      height: 32px;
      padding:0 0 2px 10px;
      float: right;
      margin-right: 30px;
      background: url(../images/arrow_select.png) no-repeat 135px 12px #fff;
      overflow: hidden;
      select{
        width: 162px;
        border:0;
        background: none;
      }
    }
  }
}
